<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Your Shop{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            <p>{{ user.username }}, you are logged in as {{ user.groups.all.0.name }}. <a href="{% url 'logout' %}">Logout</a></p>
                        {% else %}
                            <p><a href="{% url 'login' %}">User Login</a></p>
                            <p><a href="{% url 'admin:index' %}">Admin Login</a></p>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    <main class="container">
        <div class="container flex-nowrap justify-content-between align-items-center">
            {% block body_block %}{% endblock%}
        </div>
    </main>

    <div class="mt-5 text-center" style="margin-bottom: 100px;">
        <footer>
            <p>© 2024 Shopping mall. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>