<!-- templates/home.html -->
{% extends '../base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body_block %}
    <div class="mt-5 text-center" style="margin-top: 100px;">
        <h1>Welcome to Shopping Mall!</h1>
    </div>

    <div class="mt-5 text-center" style="margin-top: 100px;">
        <h2>Merchandise List</h2>
    </div>


<div class="row">
    <div class="col-md-12 mb-3">
        <form method="get">
            <div class="form-group">
                <label for="search_input">Search:</label>
                <input type="text" class="form-control" id="search_input" name="search_input" placeholder="Enter country name" value="{{ search_input|default_if_none:"" }}">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

{% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}

{% if is_empty %}
<div class="alert alert-warning text-center" role="alert">
    No country found with the name "{{ search_input }}".
</div>
{% elif merchandise %}
    <!-- Display filtered results -->
    <div class="container-fluid mt-5">
        <div class="row row-cols-1 row-cols-md-3">
            {% for item in merchandise %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top" src="{% if item.image %}{{ item.image }}
                            {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ item.name }}">
                            <h5 class="card-title text-center text-overflow"><strong>{{ item.name }}</strong></h5>
                            <h5 class="card-title text-center">${{ item.price }}</h5>
                            {% if user.groups.all.0.name == 'user' %}
                                <div class="d-flex justify-content-end align-items-end">
                                    <form method="post" action="{% url 'add_to_cart' item.id %}">
                                        {% csrf_token %}
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control text-center" name="quantity" value="1" min="1" style="max-width: 60px; margin-right: 10px;">
                                            <button type="submit" class="btn btn-primary">add</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <!-- Display all cards if no filter applied -->
    <div class="container-fluid mt-5">
        <div class="row row-cols-1 row-cols-md-3">
            {% for item in merchandise %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <img class="card-img-top" src="{% if item.image %}{{ item.image }}
                            {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ item.name }}">
                            <h5 class="card-title text-center text-overflow"><strong>{{ item.name }}</strong></h5>
                            <h5 class="card-title text-center">${{ item.price }}</h5>
                            {% if user.groups.all.0.name == 'user' %}
                                <div class="d-flex justify-content-end align-items-end">
                                    <form method="post" action="{% url 'add_to_cart' item.id %}">
                                        {% csrf_token %}
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control text-center" name="quantity" value="1" min="1" style="max-width: 60px; margin-right: 10px;">
                                            <button type="submit" class="btn btn-primary">add</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
    

<div class="d-flex justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <ul class="pagination">
                {% if merchandise.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ merchandise.previous_page_number }}{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">Previous</a>
                    </li>
                {% endif %}
                <!-- Display previous two pages if available -->
                {% if merchandise.number|add:-2 > 0 %}
                    <li class="page-item"><a class="page-link" href="?page={{ merchandise.number|add:-2 }}{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">{{ merchandise.number|add:-2 }}</a>
                    </li>
                {% endif %}
                {% if merchandise.number|add:-1 > 0 %}
                    <li class="page-item"><a class="page-link" href="?page={{ merchandise.number|add:-1 }}{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">{{ merchandise.number|add:-1 }}</a>
                    </li>
                {% endif %}

                <!-- Current Page -->
                <li class="page-item active"><a class="page-link">{{ merchandise.number }}</a></li>

                <!-- Display next two pages if available -->
                {% if merchandise.number|add:1 <= merchandise.paginator.num_pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ merchandise.number|add:1 }}{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">{{ merchandise.number|add:1 }}</a>
                    </li>
                {% endif %}
                {% if merchandise.number|add:2 <= merchandise.paginator.num_pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ merchandise.number|add:2 }}{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">{{ merchandise.number|add:2 }}</a>
                    </li>
                {% endif %}

                {% if merchandise.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ merchandise.next_page_number }}{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ merchandise.paginator.num_pages }}{% if search_input is not None %}&search_input={{ search_input }}{% endif %}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </ul>
    </nav>
</div>
{% endblock %}